@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  will-change: transform;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

@keyframes move-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.2em);
  }
}

.before\:animate-move-x::before {
  animation: move-x 1s infinite;
}

/* Code pour l'animation des cartes  */
  /* body {
    overflow-x: hidden;
  }
  
  /* Masquer la barre de défilement horizontal sur les éléments avec défilement automatique */
  /* .your-scrolling-element::-webkit-scrollbar {
    display: none;
  }
   */
  /* .your-scrolling-element {
    -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
    /* scrollbar-width: none;  Pour Firefox */
  /* } */

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 90s linear infinite;
    display: inline-block;
  }
  .animate-scroll:hover,
.animate-scroll:active {
  animation-play-state: paused;
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.trusted-companies-swiper {
  padding-bottom: 40px !important;
}

.trusted-companies-swiper .swiper-pagination-bullet {
  background: #991b1b;
}

.trusted-companies-swiper .swiper-pagination-bullet-active {
  background: #991b1b;
}