@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  will-change: transform;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

@keyframes move-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.2em);
  }
}

.before\:animate-move-x::before {
  animation: move-x 1s infinite;
}

/* Code pour l'animation des cartes  */
  body {
    overflow-x: hidden;
  }
  
  /* Masquer la barre de défilement horizontal sur les éléments avec défilement automatique */
  .your-scrolling-element::-webkit-scrollbar {
    display: none;
  }
  
  .your-scrolling-element {
    -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
    scrollbar-width: none;  /* Pour Firefox */
  }
